<mat-toolbar>
    <span><a mat-button routerLink="/" routerLinkActive="mat-accent">Post List</a></span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLinkActive="mat-accent" (click)="onLogout()">Logout</a>
      </li>
    </ul>
</mat-toolbar>