<mat-card>
    <mat-spinner class="signup-spinner" *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input 
                matInput
                name="email"
                ngModel
                type="email"
                placeholder="E-mail"
                #emailInput="ngModel"
                required
                email
            />
            <mat-error *ngIf="emailInput.invalid">
                Please enter a valid email.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                type="password"
                name="password"
                ngModel
                matInput
                placeholder="Password"
                #passwordInput="ngModel"
                required
            />
            <mat-error *ngIf="passwordInput.invalid">
                Please enter a valid password.
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Signup</button>
    </form>
</mat-card>