<mat-card>
    <mat-spinner *ngIf="isLoading" class="post-create-spinner"></mat-spinner>
    <form (ngSubmit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="text" name="title" #title="ngModel" [ngModel]="post?.title" required />
            <mat-error *ngIf="title.invalid">Please enter a valid post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                required
                minlength="3"
                matInput 
                rows=6 
                name="content"
                #content="ngModel" 
                [ngModel]="post?.content"
                >
            </textarea>
            <mat-error *ngIf="content.invalid">Please enter a valid post content</mat-error>
        </mat-form-field>
        <button
            mat-raised-button 
            color="primary"
            >Save Post</button>
    </form>
</mat-card>